<!DOCTYPE html>
<html lang="en-us" ng-app="angularApp">
<head>
    <title>Introduction to AngularJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <!-- load bootstrap and fontawesome via CDN -->
    <link rel="stylesheet" href="../res/node_modules/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../res/node_modules/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../styles/main.css" />

    <!-- load angular via CDN -->

    <script src="../res/node_modules/angular/angular.min.js"></script>
    <script src="../scripts/app.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../index.html">AngularKnow</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="clean-link" href="https://github.com/studeo14/AngularKnow"><i class="fa fa-home"></i>GitHub</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">

    <div ng-controller="mainController">

        <h1>Hello world!</h1>

    </div>

</div>

</body>
</html>