.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.clean-link {
    text-decoration: none !important;
}
.clean-link:hover{
    color: #fff;
}
.norm{
    color: #5e5e5e !important;
}
.norm:hover{
    color: #5e5e5e !important;
    font-weight: bold;
}
.boxed {
    width: 100%;
    border:3px dashed;
    overflow: auto;
}
.link-list-content{
    border-bottom: solid 2px #3c3c3c;
    margin-bottom:1em;
}