<div class="container-fluid">
    <div class="list-group">
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
        <search-result></search-result>
    </div>
</div>
