<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Steven Frederiksen">

    <title>AngularKnow</title>

    <link rel="stylesheet" href="res/bower_components/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="res/bower_components/bootstrap/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="styles/main.css" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="partialsController">

<header>
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">AngularKnow</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <!--<li><a class="clean-link" href="views/storage_test.html">Storage Test</a></li>TODO: implement with ng-route-->
                <li><a class="clean-link" href="https://github.com/studeo14/AngularKnow"><i class="fa fa-home"></i>GitHub</a></li>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="starter-template">
        <h1><strong ng-click="goHome()">AngularKnow</strong></h1>
    </div>
    <div class="col-md-12 link-list-content">
            <span id="lessonsList" class="col-md-6">
                <h3>Lessons</h3>
                <!-- this is where the main code will go -->
                <ul>
                    <li ng-repeat="tab in lessons" ng-cloak>
                        <a ng-cloak href="#/lessons/{{tab.link}}" class="clean-link norm">{{tab.name}}</a>
                    </li>
                </ul>
            </span>
            <span id="miscList" class="col-md-6">
                <h3>Misc</h3>
                <!-- this is where the main code will go -->
                <ul>
                    <li ng-repeat="tab in miscs" ng-cloak>
                        <a ng-cloak href="#/misc/{{tab.link}}" class="clean-link norm">{{tab.name}}</a>
                    </li>
                </ul>
            </span>
    </div>
    <div class="col-lg-12 boxed" id="content" ng-view>

    </div>
</div>

<!-- Do the script stuff down here for speed -->
<script src="res/bower_components/jquery/jquery.js"></script>
<script src="res/bower_components/angular/angular.js"></script>
<script src="res/bower_components/angular-messages/angular-messages.js"></script>
<script src="res/bower_components/angular-resource/angular-resource.js"></script>
<script src="res/bower_components/ngstorage/ngStorage.js"></script>
<script src="res/bower_components/angular-route/angular-route.js"></script>


<!-- Custom scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/mainApp.js"></script>
<script src="scripts/services.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/lesson1.js"></script>
<script src="scripts/lesson2.js"></script>
<script src="scripts/lesson3.js"></script>
<script src="scripts/lesson4.js"></script>
<script src="scripts/storage_mod.js"></script>


</body>
</html>