body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.clean-link {
    text-decoration: none !important;
}
.clean-link:hover{
    color: #fff;
}
